<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <title>
        Error Code
        <%=err.status %>
    </title>
</head>

<body>
    <div class="container mt-5">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading"> Ooops
                <%= err.message %>
            </h4>
            <p>
                <%= err.stack %>
            </p>
        </div>
        <a class="btn btn-danger" href="/sign-in">Back To Home Page</a>
    </div>
</body>

</html>